<h1 class="title">What is This?</h1>
<div class="container">
  <p>
    <a href="http://www.railsconf.com">RailsConf</a> is the annual conference for
    <a href="http://www.rubyonrails.org">Ruby on Rails</a> developers.  This year's conference is being held
    at the Las Vegas Hilton in Las Vegas, Nevada.
  </p>
  <p>
    The conference organizers are giving away a 3-night stay at the Las Vegas Hilton.  The 
    <a href="http://en.oreilly.com/rails2009/public/sv/q/149">entry form</a> gives one
    tiny box to answer the question: "Why You?":
  </p>
  
  <p class="centered">
    <%= image_tag '/images/rails-conf-travel-giveaway.jpg', :alt => "The entry form at RailsConf.com" %>
  </p>
  
  <p>
    I could think of way more reasons for "Why Me" than would fit in that box... so I built this site and submitted
    my entry!
  </p>
  
  <p class="centered">
    <%= image_tag '/images/why-me.jpg', :alt => "My entry" %>
  </p>
  
  <p>
    My list of reasons, supporters, and buzz are generated from the <a href="http://twitter.com">Twitter</a> account
    <a href="http://twitter.com/RoomAtRailsConf">@RoomAtRailsConf</a>.  You can support me too by following
    <a href="http://twitter.com/RoomAtRailsConf">@RoomAtRailsConf</a> and build buzz by using the text
    <code>@RoomAtRailsConf</code> in your Tweet
  </p>
  
  <p>
    <strong>Thanks for your support!</strong>
  </p>
  
  <h3>Who Am I?</h3>
  
  <p>
    I am Michael Klett, a web developer at <a href="http://webadvocate.com">Web Advocate</a> in Cary.
  </p>
</div>